@model IEnumerable<TodoWebApp.Models.Task>

@{
    ViewBag.Title = "TaskIndex";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>

    .action-link a {
        text-decoration: none;
        color: darkred;
    }

    .action-link a:hover {
        color: white
    }

    a.actionlink1 {
        text-decoration: none;
        color: darkblue;
    }

    a.actionlink1:hover {
        color: white;
    }

    a.actionlink2 {
        text-decoration: none;
        color: green;
    }

    a.actionlink2:hover {
        color: white;
    }

    a.actionlink3 {
        text-decoration: none;
        color: black;
    }

    a.actionlink3:hover {
        color: white;
    }

    a.actionlink4 {
        text-decoration: none;
        color: darkred;
    }

    a.actionlink4:hover {
        color: white;
    }

    .home-link a {
        text-decoration: none;
        color: darkred;
    }

    .home-link a:hover {
        color: white;
    }

    img[src=""] {
        display: none;
    }

    p {
        text-align:center;
    }

</style>

<main>

    <h4>Tasks</h4>

    <div class="action-link">
        <button class="btn btn-sm btn-outline-danger">@Html.ActionLink("Add New", "CreateTask", "Tasks", new { id = ViewBag.ListId }, null)</button>
    </div>

    @if (Model.Count() != 0)
    {
        <p>@ViewBag.Completion% Completed!</p>

        <div id="taskprogressbar">
            <div class="progress" style="height:12px">
                <div class="progress-bar" role="progressbar" style="width:@ViewBag.Completion%; background-color:darkblue"></div>
            </div>
        </div>
    }

    <br />

    <table class="table shadow">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.TaskId)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(m => m.TaskName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(m => m.ImagePath)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(m => m.DueTime)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(m => m.Priority)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(m => m.Status)
            </th>
            <th style="text-align:center">@Html.DisplayName("Actions")</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskName)
                </td>
                <td>
                    <img src="@(item.ImagePath == null ? "" : Url.Content(item.ImagePath))" width="200" ; height="200" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    <span name="s" value="@item.Status">@Html.DisplayFor(modelItem => item.Status)</span>
                </td>
                <td>
                    <button class="btn btn-sm btn-outline-primary">@Html.ActionLink("Edit", "EditTask", new { id = item.TaskId }, new { @class = "actionlink1" })</button>
                    <button class="btn btn-sm btn-outline-success">@Html.ActionLink("Details", "TaskDetails", new { id = item.TaskId }, new { @class = "actionlink2" })</button>
                    <button class="btn btn-sm btn-outline-dark">@Html.ActionLink("Checklist", "ActivityIndex", "TaskActivities", new { id = item.TaskId }, new { @class = "actionlink3" })</button>
                    <button class="btn btn-sm btn-outline-danger">@Html.ActionLink("Delete", "DeleteTask", new { id = item.TaskId }, new { @class = "actionlink4" })</button>
                </td>
            </tr>
        }

    </table>
    <div class="home-link">
        <button class="btn btn-sm btn-outline-danger">@Html.ActionLink("Back to List", "TodoListIndex", "TodoLists")</button>
    </div>
</main>
