@model TodoWebApp.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/LoginStyle.css" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div class="form-box login">
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-circle"></ion-icon></span>
                        <input type="text" name="UserName" />  <!--name must match the property name defined in User.cs Model-->
                        <label>Username</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" name="Password" />  <!--name must match the property name defined in User.cs Model-->
                        <label>Password</label>
                    </div>
                </div>
                <div class="remember-forgot">
                    <label>
                        <input type="checkbox" />
                        Remember Me
                    </label>
                    <a href="#">Forgot Password?</a>
                </div>
                <button type="submit" class="submit-btn" name="submit" value="submit">Login</button>
                <div style="text-align:center">
                    <label class="text-danger">@ViewBag.LoginErrorMessage</label>
                </div>
                <div class="login-register">
                    <p>Don't have an account? @Html.ActionLink("Register", "Register", "Home", new { @class = "register-link" })</p>
                </div>
            }
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>

