<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title - ToDo Web-App</title>
    <script type="text/javascript">
        function disableBackButton() {
            window.history.forward();
        }
        setTimeout("disableBackButton()", 0);
        window.onunload = function () { null };
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/_LayoutStyle.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom">
        <div class="container">
            @Html.ActionLink("Todo-App", "UserHome", "User", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler custom-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "UserHome", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Account", "Account", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Todo", "TodoListIndex", "TodoLists", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <label style="color:antiquewhite;margin-right:15px;margin-top:1px">Signed-in: @Session["signinTime"]</label>
                <label style="color:antiquewhite">@Session["userName"]</label>
                <button style="margin-right:5px" class="btn ml-auto">@Html.ActionLink("LogOut","LogOut","Home", new { area = "" }, new { @class = "nav-link" })</button>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Todo List Web-App</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
